*{
    box-sizing:border-box;
}

body {
    margin:0;
}
img {
    max-width: 100%;
}




@keyframes test {
    0% {
background-color: deepskyblue;
left:0;
    }
100% {
background-color: deeppink;
left: 1200px;
}
    
}

.container{
    background-color: deepskyblue;
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position:relative;
    overflow:hidden;
}

.square{
    background: deeppink;
    width:10vw;
    height:10vw;
    animation: spin 7s infinite linear;
    
}

@keyframes pulse {
    0% {
        background-color: deepskyblue;
        /*width: 15vw;
        height: 15vw; */
        scale: 1;
    }
    100% {
        background-color:hwb(328 8% 0%);
        /*width: 15vw;
        height: 15vw; */
        scale:2;
    }
        
}
.changer {
    background: hwb(328 8% 0%);
    width:10vw;
    height: 10vw;
    transition: background 4s, border-radius 4s;
    
}

.changer:hover{
    background-color:blueviolet;
    rotate:360deg;
    border-radius:100%;
  
}

@keyframes change {
    0% {
        background-color:deeppink;
        rotate: 0;
        border-radius: 0;

    }
    100% {
        background-color:blueviolet;
        rotate:360deg;
        border-radius:100%;
    }
}

.circle {
     background: deeppink;
    width:10vw;
    height: 10vw;
    border-radius: 50%;
    animation: pulse 10s infinite alternate;
   
}

@keyframes spin {
    0% {
        rotate: 360deg;
    }
}

.mover {
    background-color: deeppink;
    width:15vw;
    height:2vw;
    position: absolute;
    bottom:0;
    left:0;
    animation: move 4s infinite ease-out;
}


/*.test {background-color:deepskyblue;
    width:100px;
    height:100px;
    position: relative;

/*    animation-name: test; */
/*   animation-duration: 4s;*/
/*   animation-delay: 2s; */
/*animation-iteration-count: infinite;*/
/*   animation-direction: alternate;*/
/*    animation-timing-function: cubic-bezier(0,.64,.98,.25);
    animation-fill-mode: both;*/

/*animation: test 4s 2s infinite alternate cubic-bezier(0,.64,.98,.25) both;
}*/

@keyframes move {
    0% {
        left:-15vw;
    }
    100% {
        left:100vw;
    }
}